*{
    box-sizing:border-box;    
}

body {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    font-size: 19px;
} 

html {
    scroll-behavior: smooth;
}

.nav-list {
    list-style: none;
}

.nav-link{
    padding: 0 20px;
    line-height: 50px;
}

.nav-item a{
    color:#d5d1d0;
    text-decoration: none;
    transition: color 0.5s;
   
}

.nav-item a:hover{
    color:#2ca5a9;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {

    width: 50%;
}

@media (max-width:768px) {
    .section {
        width:100%;
    }
}

img {
    width: 219px;
    border-radius: 38%;
    margin: 0 0 0 70px;
}

.header{
    background:#013f56;
    height: 60px;
}

.main{
    background:#d5d1d0;
}


h2{
    color:#2ca5a9;
}

h1{
    color:#013f56;
    font-size: 45px;
}
.section{
    padding: 0px 10px 0px 70px;

}
body{
    height: 100vh;
    min-width: 840px;
    font-family:'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing:1px;
    line-height: 1.3;
    color:black;
}

.main-section{
    padding: 0px;
    margin: 0 20px 0 20px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    border-bottom: 5px solid #2ca5a9;
}

.footer-container{
    height: 60px;
    width: 100%;
   background:#013f56; 
   display: flex;
   justify-content:space-between;
   align-items: center;
}
.GitHub-icon{
    width: 50px;
    border-radius: 50%;
    margin: 5px 0 0 40px;
    
}

.year{
    font-size: 25px;
    color:#d5d1d0;
    
}

.rsschool-icon{
    width: 100px;
    border-radius: 0%;
    margin: 5px 60px 0 0;
    
}
a{
text-decoration: none;
color:#013f56;
transition: 0.5s;
}

a:hover{
    color:#2ca5a9;
}

.section-item{
    list-style-type:square;
}

.code{
    color:#08383a}
